{{define "content"}}

{{if .IsAuthed}}
<div class="front">
    Front Page
</div>
{{else}}
<div class="login-div">
    <form class="login-form">
        <div id="banner-text">
        </div>
        <div class="username-div">
            <div class="username-desc">username</div>
            <input id="username" type="username" name="" value="">
        </div>
        <div class="password-div">
            <div class="password-desc">password</div>
            <input id="password" type="password" name="" value="">
        </div>
        <div class="btn-div">
            <button id="login-btn" type="submit">Log In</button>
        </div>
    </form>
    <script src="/scripts/login/login.js">
    </script>
</div>
{{end}}

{{end}}
