<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}}</title>
    <link href="/styles.css" type="text/css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="nav-title">
                Functional Server
            </div>
            <div class="login-status">
                {{.UserID}}
            </div>
        </nav>
    </header>
    <main class="content">
        {{ template "content" . }}
    </main>
</body>

</html>
