{{define "content"}}
<div class="display-row">
    <div class="display1">
    </div>
    <div class="display2">
        <div class="name">
            <div>name:</div>
            <div class="d1"></div>
        </div>
        <div class="mood">
            <div>mood:</div>
            <div class="d2"></div>
        </div>
    </div>
</div>
<div class="btn-row">
    <button class="btn1">
        Click Me
    </button>
    <button class="btn2">
        Get From Database
    </button>
</div>
<script src="/scripts/interaction/interaction.js">
</script>
{{end}}
