{{define "content"}}

{{if .IsAuthed}}
<div class="front">
    Front Page
</div>
{{else}}
<div class="login-div">
    <form class="login-form">
        <div id="banner-text">
        </div>
        <div class="email-div">
            <div class="email-desc">email</div>
            <input id="email" type="email" value="">
        </div>
        <div class="username-div">
            <div class="username-desc">username</div>
            <input id="username" type="username" value="">
        </div>
        <div class="password-div">
            <div class="password-desc">password</div>
            <input id="password" type="password" value="">
        </div>
        <div class="age-div">
            <div class="age-desc">age</div>
            <input id="age" type="age" value="">
        </div>
        <div class="btn-div">
            <button id="signup-btn" type="submit">Sign Up</button>
        </div>
    </form>
    <script src="/scripts/signup/signup.js">
    </script>
</div>
{{end}}

{{end}}
